@page "/"

<div>
    <h2>List of Movies</h2>
    <MoviesList Movies="movies" />
</div>
<div>
    <h2>Create a Movie</h2>
    <DummyTextbox placeholder="movie name"/>
</div>

@code {
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie(){Title = "Spider-Man: Go for it, Girl!", ReleaseDate = new DateTime(2020, 2, 3)},
            new Movie(){Title = "Batman & Robin: Revelations", ReleaseDate = new DateTime(1995, 11, 30)},
            new Movie(){Title = "Avengers: Week of Ultron", ReleaseDate = new DateTime(2015, 5, 7)}
        };
    }
}