@page "/"
@inject SingletonService singleton
@inject IRepository repository

<h2>List of Movies</h2>
<MoviesList Movies="movies" />
<hr />
<h2>Create a Movie</h2>
<div class="input-plus-button-line">
    <input type="text" class="form-control" placeholder="Movie Title" @bind="newMovieTitle" />
    <button class="btn btn-primary" @onclick="onAddMovie">Add</button>
</div>
<hr />
<p>Singleton count: @singleton.Value</p>

@code {
    public List<Movie> movies;
    public string newMovieTitle = "";

    protected override void OnInitialized()
    {
        movies = repository.GetMovies();
    }

    private void onAddMovie()
    {
        var newMovie = new Movie(){Title = newMovieTitle, ReleaseDate = DateTime.Now};
        movies.Add(newMovie);
        newMovieTitle = "";
    }
}