<div class="movie-item">
    <h3 class="movie-title">@MovieToDisplay.Title</h3>
    <p>Release Date: <span class="movie-info">@MovieToDisplay.ReleaseDate.ToString("dd MMM yyyy")</span></p>
    @if (DisplayButtons)
    {
        <button class="btn btn-secondary" @onclick="@(() => DeleteMovie.InvokeAsync(MovieToDisplay))">Delete</button>
    }
</div>

@code {
    [Parameter] public Movie MovieToDisplay { get; set; }
    [Parameter] public bool DisplayButtons { get; set; } = false;
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }
}
