@inject IJSRuntime js

<div class="movies-list-controls">
    <input type="checkbox" id="displayMovieButtonsCheckbox" @bind="displayMovieButtons"/>
    <label for="displayMovieButtonsCheckbox">Show Buttons</label>
</div>
<div class="movies-list">
    <GenericList ListItems="Movies">
        <ElementTemplate Context="movie">
            <IndividualMovie
                MovieToDisplay="movie"
                DisplayButtons="displayMovieButtons"
                DeleteMovie="DeleteMovie"
            />
        </ElementTemplate>
        <NullTemplate>
            <p style="color: red; font-weight: bold;">This is loading...</p>
        </NullTemplate>
        <EmptyTemplate>
            <p>There are no records to show.</p>
        </EmptyTemplate>
    </GenericList>
</div>

<Confirmation
    @ref="confirmationDialog"
    onCancel="onCancelDeleteMovie"
    onConfirm="onConfirmDeleteMovie"
>
    <p>Do you wish to delete the movie @movieToDelete.Title?</p>
</Confirmation>

@code {
    [Parameter] public List<Movie> Movies { get; set; }
    public bool displayMovieButtons = true;
    private Confirmation confirmationDialog;
    private Movie movieToDelete;

    protected override void OnInitialized()
    {
        Console.WriteLine("OnInitialized: Movies.Count = " + Movies.Count.ToString());
    }
    protected override void OnParametersSet()
    {
        Console.WriteLine("OnParametersSet: Movies.Count = " + Movies.Count.ToString());
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("OnAfterRender: FirstRender = " + firstRender.ToString());
    }
    protected override bool ShouldRender()
    {
        return true;
    }

    public void DeleteMovie(Movie movie)
    {
        movieToDelete = movie;
        confirmationDialog.Show();
    }

    public void onConfirmDeleteMovie()
    {
        Movies.Remove(movieToDelete);
        confirmationDialog.Hide();
        movieToDelete = null;
    }

    public void onCancelDeleteMovie()
    {
        confirmationDialog.Hide();
        movieToDelete = null;
    }
}